{% extends "/users/justinjohns/Documents/Clients+Work/TASK_FORCE_UNICORN/Figment/catfish/Kerastase/kmain.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}


{% block greybar %}
<tr>
               <td bgcolor="#4d4d4f" height="35" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #ffffff; text-align: center;"><a href= "%%=RedirectTo(@PromoBannerLink)=%%" target="_blank" style="color: #ffffff; text-decoration:none;">%%=v(@PromoBannerText)=%%</a></td>
            </tr>
{% endblock %}


{% block content %}
	<table width="600" class="mainwrapper" bgcolor="#fefefe" cellpadding="0" cellspacing="0" border="0" align="center">
            
            
           <tr>
               <td bgcolor="#ffffff" colspan="3" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #222222; text-align: center;"><a href="http://www.kerastase-usa.com/fusio-ecom?utm_source=WC&utm_medium=Email&utm_campaign=%%=v(@CampaignID)=%%%%=v(@WCtracking)=%%" target="_blank"><img src="{{slice1}}" width="600" height="363" style="display: block;" border="0"></a> </td>
           </tr>
           
            
               
           
           
           
           
               
                        </table>
                     
                        
                        <table width="600" class="mainwrapper" bgcolor="#fefefe" cellpadding="0" cellspacing="0" border="0" align="center">
    <tr>
                <td bgcolor="#ffffff" colspan="3" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #222222; text-align: center;"><a href="http://www.kerastase-usa.com/on/demandware.store/Sites-kerastase-us-Site/default/Account-Show?utm_source=WC&utm_medium=Email&utm_campaign=?utm_source=WC&utm_medium=Email&utm_campaign=%%=v(@CampaignID)=%%%%=v(@WCtracking)=%%" target="_blank"><img src="http://image.m.kerastase-usa.com/lib/fe9b13727566017d71/m/2/K281_ElixirOil_PPD_06.jpg" width="600" height="158" style="display: block;" border="0"></a>
               </td>
           </tr>
            
            </table>
{% endblock %}