<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<!-- AMP SCRIPTS - START *************************************************************** -->
%%[ 

VAR @PreHeaderText 
SET @PreHeaderText = "Receive $10 Off Your First Fusio-Dose Treatment."

VAR @PreHeaderLink 
SET @PreHeaderLink = "http://www.kerastase-usa.com/fusio-ecom?utm_source=WC&utm_medium=Email&utm_campaign=FusioCoupon2.05.16Email-WC-20160205-CP-S-1"

VAR @PromoBannerText 
SET @PromoBannerText = "ENJOY A FUSIO-DOSE&#8482; HAIR LAB TREATMENT NEAR YOU"

VAR @PromoBannerLink 
SET @PromoBannerLink = "http://www.kerastase-usa.com/fusio-ecom?utm_source=WC&utm_medium=Email&utm_campaign=FusioCoupon2.05.16Email-WC-20160205-CP-S-1"

VAR @CampaignID 
SET @CampaignID = "FusioCoupon2.05.16Email"

VAR @WCtracking 
SET @WCtracking  = "-WC-20160205-CP-S-1" 

VAR @TERMS 
SET @TERMS = "Offer expires March 1, 2016 at 3:00 A.M. EST. Quantities are limited and all offers, deals and promotions are subject to availability while supplies last. Only one sample offer may be applied to each order; offers may not be combined. To ensure best availability, there is a limit of one to a customer. Offer includes Gift Sets and Last Chance items. Offer available to residents of the contiguous United States only. All 'Free Shipping' offers are for STANDARD SHIPPING only, unless otherwise specified. Offers cannot be applied to previously placed orders. We reserve the right to cancel any order due to unauthorized, altered or ineligible use of offer and to modify or cancel any promotion due to system error or unforeseen problems. We reserve the right to substitute any free item offered with an item of equal or greater value. Ongoing offers are subject to change without notice. Other restrictions may apply."

]%%

<!-- AMP SCRIPTS - END ***************************************************************** -->

<meta charset="UTF-8">
<title>WC_Kerastase_Paris | Complimentary Shipping</title>
<head>
<style type="text/css">
/* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
body {
	margin: 0;
	padding: 0;
}
img {
	border: 0 none;
	height: auto;
	line-height: 100%;
	outline: none;
	text-decoration: none;
}
a img {
	border: 0 none;
}
.imageFix {
	display: block;
}
table, td {
	border-collapse: collapse;
}
table td {
	border-collapse: collapse;
}
#bodyTable {
	height: 100% !important;
	margin: 0;
	padding: 0;
	width: 100% !important;
}
</style>
</head>

<body>
<custom name="opencounter" type="tracking">
<!-- Begin Header-->
<table width="100%" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" border="0">
   <tr>
      <td> 
         <!-- Begin Preheader-->
         <table width="600" class="mainwrapper" bgcolor="#fefefe" cellpadding="0" cellspacing="0" border="0" align="center">
            <tr>
               <td style="font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 10px; text-align: center;">%%=v(@PreHeaderText)=%% <a href="%%=RedirectTo(@PreHeaderLink)=%%" target="_blank" style="color: #4d4d4f;"> Learn More</a>. <br/>
                  <br/>
                  If you are having trouble viewing this email, please use this link: <a href="%%view_email_url%%" target="_blank" style="color: #4d4d4f;">Online Version</a> <br/>
                  <br/>
                  Please add K&eacute;rastase Paris (kerastase@kerastasemail.com) to your Address Book<br/>
                  to continue receiving K&eacute;rastase Paris emails in your Inbox.<br/>
                  <br/>
               </td>
               <!-- END Preheader--> 
            </tr>
            <!-- Begin Promobar-->
            {% block greybar %}{% endblock %}
            <!-- END Promobar-->
         </table>
         <!-- Begin Navigation Menu-->
         <table width="600" class="devicewidth" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center">
            <tr>
               <td bgcolor="#ffffff" height="35" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #ffffff; text-align: center;"> 
                  <!-- Logo-->
                  <table width="200" align="left" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                     <tr>
                        <td width="200"><a href= "http://www.kerastase-usa.com/?utm_source=WC&utm_medium=Email&utm_campaign=%%=v(@CampaignID)=%%%%=v(@WCtracking)=%%" target="_blank"><img src="http://image.m.kerastase-usa.com/lib/fe9b13727566017d71/m/1/Kerastase_logo.gif" border="0" style="display: block;"></a> </td>
                     </tr>
                  </table>
                  <!-- What's New-->
                  <table align="left" height="74" cellpadding="0" cellspacing="0" border="0" class="menuitem" valign="middle" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                     <tr>
                        <td width="71" height="74" valign="middle"><a href="http://www.kerastase-usa.com/whats-new?utm_source=WC&utm_medium=Email&utm_campaign=%%=v(@CampaignID)=%%%%=v(@WCtracking)=%%" target="_blank"><img src="http://image.m.kerastase-usa.com/lib/fe9b13727566017d71/m/1/nav_01.jpg" border="0" style="display: block;" width="70"></a> </td>
                     </tr>
                  </table>
                  <!-- Regimen-->
                  <table align="left" height="74" cellpadding="0" cellspacing="0" border="0" class="menuitem" valign="middle" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                     <tr>
                        <td width="124" height="74" valign="middle"><a href="http://www.kerastase-usa.com/kerastase-regimen?utm_source=WC&utm_medium=Email&utm_campaign=%%=v(@CampaignID)=%%%%=v(@WCtracking)=%%" target="_blank"><img src="http://image.m.kerastase-usa.com/lib/fe9b13727566017d71/m/1/nav_02.jpg" border="0" style="display: block;" width="122"></a> </td>
                     </tr>
                  </table>
                  <!-- Cleanse & Treat-->
                  <table align="left" height="74" cellpadding="0" cellspacing="0" border="0" class="menuitem" valign="middle" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                     <tr>
                        <td width="104" height="74" valign="middle"><a href="http://www.kerastase-usa.com/cleanse-treat?utm_source=WC&utm_medium=Email&utm_campaign=%%=v(@CampaignID)=%%%%=v(@WCtracking)=%%" target="_blank"><img src="http://image.m.kerastase-usa.com/lib/fe9b13727566017d71/m/1/nav_03.jpg" border="0" style="display: block;" width="104"></a> </td>
                     </tr>
                  </table>
                  <!-- Prime & Style-->
                  <table align="left" height="74" cellpadding="0" cellspacing="0" border="0" class="menuitem" valign="middle" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                     <tr>
                        <td width="87" height="74" valign="middle"><a href= "http://www.kerastase-usa.com/protect-style?utm_source=WC&utm_medium=Email&utm_campaign=%%=v(@CampaignID)=%%%%=v(@WCtracking)=%%" target="_blank"><img src="http://image.m.kerastase-usa.com/lib/fe9b13727566017d71/m/1/nav_04.gif" border="0" style="display: block;" width="87"></a> </td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </td>
   </tr>
</table>
<!-- END Header --> 
<!-- Begin Main Body -->
<table width="100%" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" border="0">
   <tr>
      <td> 
         <!-- hero-inner wrapper -->

    	{% block content %}{% endblock %}
         
         <!-- /hero-inner wrap --> 
      </td>
   </tr>
</table>
<!-- END Main Body --> 

<!-- Begin Footer -->
<table width="600" align="center" cellspacing="0" cellpadding="0" border="0">
   <tr>
      <td bgcolor="#4d4d4f">
         <table width="329" height="74" border="0" align="left" cellpadding="0" cellspacing="0" class="menuitem" style="color: #111111; font-family: Arial, Helvetica, sans-serif;" valign="middle">
            <tr> 
               <!-- Customer Service -->
               <td width="181" height="74" valign="middle" align="center"> <a href= "https://www.kerastase-usa.com/on/demandware.store/Sites-kerastase-us-Site/default/CustomerService-Show?utm_source=WC&utm_medium=Email&utm_campaign=%%=v(@CampaignID)=%%%%=v(@WCtracking)=%%" target="_blank" style="color: #fff; text-decoration:none; font-size: 12px; line-height: 74px;">CUSTOMER SERVICE </a></td>
               
               <!-- Salon Locator -->
               <td width="115" height="74" valign="middle" align="center"> <a href="http://www.kerastase-usa.com/salon-locator?utm_source=WC&utm_medium=Email&utm_campaign=%%=v(@CampaignID)=%%%%=v(@WCtracking)=%%" target="_blank" style="color: #fff; text-decoration:none; font-size: 12px; line-height: 74px;">SALON LOCATOR</a></td>
            </tr>
         </table>
         <table align="left" cellpadding="0" cellspacing="0" border="0" height="75">
            <tr>
               <td width="40"><!-- spacer --></td>
               <!-- Facebook -->
               <td><a href="http://www.facebook.com/KerastaseUSA?utm_source=WC&utm_medium=Email&utm_campaign=%%=v(@CampaignID)=%%%%=v(@WCtracking)=%%"> <img src="http://image.m.kerastase-usa.com/lib/fe9b13727566017d71/m/2/NEWfb.jpg" width="33" height="45" style="display: block;" border="0"></a> </td>
               <!-- Twitter-->
               <td><a href="https://twitter.com/KerastaseUSA?utm_source=WC&utm_medium=Email&utm_campaign=%%=v(@CampaignID)=%%%%=v(@WCtracking)=%%"><img src="http://image.m.kerastase-usa.com/lib/fe9b13727566017d71/m/2/NEWtwitter.jpg" width="43" height="44" style="display: block;" border="0"></a> </td>
               <!-- Pinterest-->
               <td><a href= "http://pinterest.com/kerastaseusa/?utm_source=WC&utm_medium=Email&utm_campaign=%%=v(@CampaignID)=%%%%=v(@WCtracking)=%%"><img src="http://image.m.kerastase-usa.com/lib/fe9b13727566017d71/m/2/NEWpinterest.jpg" width="43" height="44" style="display: block;" border="0"></a> </td>
               <!-- Youtube -->
               <td><a href="http://www.youtube.com/kerastaseusa?utm_source=WC&utm_medium=Email&utm_campaign=%%=v(@CampaignID)=%%%%=v(@WCtracking)=%%"><img src="http://image.m.kerastase-usa.com/lib/fe9b13727566017d71/m/2/NEWyoutube.jpg" width="44" height="44" style="display: block;" border="0"></a> </td>
               <!-- Instagram -->
               <td><a href="http://instagram.com/kerastaseusa?utm_source=WC&utm_medium=Email&utm_campaign=%%=v(@CampaignID)=%%%%=v(@WCtracking)=%%"><img src="http://image.m.kerastase-usa.com/lib/fe9b13727566017d71/m/2/NEWinstagram.jpg" width="44" height="44" style="display: block;" border="0"></a> </td>
            </tr>
         </table>
      </td>
   </tr>
   <tr> 
      <!-- Disclaimer -->
      <td style="color: #222222; font-size: 10px; text-align:left; padding-top:10px;"> *%%=v(@TERMS)=%% <br>
         <br>
         If you have any questions or require assistance please contact us: <br/>
         <a href="mailto:customerservice@kerastase-usa.com">customerservice@kerastase-usa.com</a> <br/>
         <br/>
         If you don't wish to receive future emails from Kerastase Paris, please <a href="%%unsub_center_url%%" alias="Unsubscribe">click here</a> to unsubscribe. <br/>
         &copy; K&eacute;rastase Paris 2015 <br/>
         <br/>
         This email was sent by: K&eacute;rastase 575 Fifth Avenue, 9th Floor New York, NY 10017 USA </td>
   </tr>
</table>

<!-- End Footer -->

<div style="display:none; white-space:nowrap; font:15px courier; color:#ffffff;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </div>
</body>
</html>